* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Blog{
    margin-top: 200px;
    position: relative;
  }
  .latest-news {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .Blog .latest-news-btns {
    width:100%;
    /* background-color: rgb(12, 85, 189); */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    /* left:75px; */
    z-index: 30;
  }

  @media (max-width:991px) {
        .latest-news {
          padding: 0;
        }
  }
  .Blog .latest-news-btns button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: #035B8D;
    transition: 0.7s;
    border: none;
  }
 

  @media (min-width:768px) and (max-width:991px) {
       .Blog .latest-news-btns {
        width:calc(100% - 20px);
        left: 10px;
        transform: translate(0,50%);
       }
  }
  .Blog .latest-news-btns{}
  
  .Blog .latest-news-btns button:nth-of-type(1) {
    left: 0;
  }
  
  .Blog .latest-news-btns button:nth-of-type(2) {
    right: 0;
  }
  
  .latest-news .latest-news-wrapper {
    overflow: hidden;
    width: 95%;
    padding: 30px;
    /* background-color: rgba(79, 139, 143, 0.301); */
  }

  @media (max-width:767px) {
      .latest-news .latest-news-wrapper {
    width:100%;
padding:15px;
  }
  }

  
  @media (min-width:768px) and (max-width:991px) {
      .latest-news .latest-news-wrapper {
    width:100%;
padding:20px;
  }
  }
    

  .latest-news  .latest-news-wrapper .latest-news-parent {
    display: flex;
    /* align-items: center; */
    gap: 30px;
  }
  .latest-news-wrapper .latest-news-parent .card {
    flex: 0 0 calc((100% - (2 * 30px)) / 3); 
    background-color: white;
    border-radius: 16px;
    position: relative;
  }
  
  
  @media (max-width: 576px) {
    .latest-news-wrapper .latest-news-parent .card {
      flex: 0 0 100%;
    }
  }
  
  
  @media (min-width: 577px) and (max-width:768px) {
    .latest-news-wrapper .latest-news-parent .card {
      flex: 0 0 calc((100% - (1 * 30px)) / 2)
    }
  }
  
  @media (min-width: 769px) and (max-width:992px) {
    .latest-news-wrapper .latest-news-parent .card {
      flex: 0 0 calc((100% - (2 * 30px)) / 3)
    }
  }
  @media (min-width:793) and (max-width:1200px) {
    .latest-news-wrapper .latest-news-parent .card {
      flex: 0 0 calc((100% - (3 * 30px)) / 4)
    }
  }
  
  .latest-news-wrapper .latest-news-parent .card .card-img {
    height: 370px;
   
  }

  .latest-news-wrapper .latest-news-parent .card .card-img img {
    width: 100%;
    height: 100%;
  }
  
  .latest-news-wrapper .latest-news-parent .card .card-layer{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
  background-color: rgba(0, 0, 0, 0.211);
    border-radius:16px;
  }
  
  .latest-news-wrapper .latest-news-parent .card .card-layer .card-title{
    position: inherit;
    bottom: 0;
    left: 0;
    margin: 30px;
    color: white;
    width: 100%;
  }
  
    
  .latest-news-wrapper .latest-news-parent .card .card-layer .card-title p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
  }

  @media (max-width:767px) {
         .latest-news-wrapper .latest-news-parent .card .card-layer .card-title
         {
          margin:30px 10px;
         }
  .latest-news-wrapper .latest-news-parent .card .card-layer .card-title p{
    font-size:14px;
  }
  }