.one-blog{
    margin: 100px auto;
}
@media (max-width:991px) {
    .one-blog{
    margin: 100px 0;
}
}

.one-blog .blog-info{
margin: 0 50px;
}
@media (max-width:991px) {
    .one-blog .blog-info{
margin: 0 5px;
}
}

.one-blog .blog-info .blog-img{
    width: 100%;
    height: 688px;
    overflow: hidden;
    border-radius:16px ;
}

@media (max-width:991px) {
    
.one-blog .blog-info .blog-img{
    height: 100%;
}
}

.one-blog .blog-info .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.one-blog .blog-info .blog-data{
    width: 100%;
margin: 30px 0;
display: flex;
justify-content: space-between;
align-items: center;
}


.one-blog .blog-info .blog-data .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #035b8d;
    font-size: 20px;
}

.one-blog hr{
    width:calc(100% - 100px);
    margin: auto;
}

/* --------------------------------------- */


.one-blog .blog-content{
width: 100%;
max-width: 1193px;
margin: auto;
}
@media (max-width:991px) {
    .one-blog .blog-content{
        margin:0;
    }
}
.one-blog .blog-content h3{
    width: 100%;
    max-width: 1047px;
    margin: auto;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
}

@media (max-width:991px) {
 .one-blog .blog-content h3{
    margin:0px;
    font-size:25px;
    line-height: 44px;
}
}


.one-blog .blog-content p,
.one-blog .blog-content ul,
.one-blog .blog-content ul li{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}
.one-blog .blog-content ul{
list-style:disc;
}


@media (max-width:991px){
    
.one-blog .blog-content p,
.one-blog .blog-content ul,
.one-blog .blog-content ul li{
    margin:0 10px;
    font-size: 18px;
    line-height: 30px;
}
}

.one-blog .blog-pics{
margin:50px;
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 24px;
}

@media (max-width:991px){
    .one-blog .blog-pics{
margin:10px;
grid-template-columns:auto
}
}



.one-blog .blog-pics .card-news{
    position: relative;
    height: 550px;
border-radius: 36px;
overflow: hidden;
}


.one-blog .blog-pics .card-news::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(6, 11, 14, 0.399));
}


@media (max-width:991px){
    .one-blog .blog-pics .card-news{

    height: 100%;}
}

.one-blog .blog-pics .card-news img{
width: 100%;
height: 100%;
object-fit: cover;
}

.one-blog .blog-pics .card-news p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    letter-spacing:1px;
    color: white;
    max-width: 370px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
position: absolute;
bottom: 0;
transform: translate(20px,-20px);

}