.partners-firms {
  width: 100%;
  height: 368px;
  background-color: bisque;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image:linear-gradient(to right ,rgba(0, 0, 0, 0.85)) , url("../assets/mall_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width:991px) {
    .partners-firms{
        flex-direction: column;
        gap: 16px;
    }
}
.partners-firms .partners-title {
    position: relative;
width: 100%;
max-width: 644px;
height: 128px;
display: flex;
flex-direction: column;
gap: 8px;
}

.partners-firms .partners-title h1 {
    color: white;
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
}

.partners-firms .partners-title h1 span {
    color: goldenrod;
}

.partners-firms .partners-title h1:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 0;
}

.partners-firms .partners-title h1:nth-of-type(2) {
        position: absolute;
    right:130px;
    bottom: 0;
}

.partners-firms .partners-comp {
    width: 100%;
    max-width: 625px;
    height: 126px;
    background-color:rgba(255, 255, 255, 0.339);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.partners-firms .partners-comp .partner-img {
  width: 192px;
  height: 104px;
  overflow: hidden;
}

.partners-firms .partners-comp .partner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
