* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Short-parent {
  width: 100%;
  height: 100%;
  /* background-color: rgb(220, 216, 216); */
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: center;
}

.Short-parent .swiper-btns {
  z-index: 20;
  width: 85%;
  /* background-color: rgb(12, 85, 189); */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Short-parent .swiper-btns button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: #035B8D;
  transition: 0.7s;
  border: none;
}


.Short-parent .swiper-btns button:nth-of-type(1) {
  left: 0;
}

.Short-parent .swiper-btns button:nth-of-type(2) {
  right: 0;
}

.Short-parent .slider-wrapper {
  overflow: hidden;
  width: 80%;
  padding: 30px;
  /* background-color: rgb(79, 139, 143); */
}
@media (max-width:767px) {
  
.Short-parent .slider-wrapper{
  width: 100%;
}
}

.Short-parent  .slider-wrapper .slider-parent {
  display: flex;
  /* align-items: center; */
  gap: 30px;
}
.slider-wrapper .slider-parent .card {
  flex: 0 0 calc((100% - (3 * 30px)) / 4); 
  background-color: white;
  border-radius: 20px;
  position: relative;
}


@media (max-width: 576px) {
  .slider-wrapper .slider-parent .card {
    flex: 0 0 100%;
  }
}


@media (min-width: 577px) and (max-width:768px) {
  .slider-wrapper .slider-parent .card {
    flex: 0 0 calc((100% - (1 * 30px)) / 2)
  }
}

@media (min-width: 769px) and (max-width:992px) {
  .slider-wrapper .slider-parent .card {
    flex: 0 0 calc((100% - (2 * 30px)) / 3)
  }
}
@media (min-width:793) and (max-width:1200px) {
  .slider-wrapper .slider-parent .card {
    flex: 0 0 calc((100% - (3 * 30px)) / 4)
  }
}

.slider-wrapper .slider-parent .card .card-img {
  /* width: 400px; */
  height: 800px;
  overflow: hidden;
}


@media (max-width:767px) {
  .slider-wrapper .slider-parent .card .card-img {

    height: 480px
  }
  }
.slider-wrapper .slider-parent .card .card-img img {
  width: 100%;
  height: 100%;
}

.slider-wrapper .slider-parent .card .card-layer{
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left: 0;
background-color: rgba(0, 0, 0, 0.211);
  border-radius: 20px;
}

.slider-wrapper .slider-parent .card .card-layer .reel{
position: inherit;
right: 0;
margin: 30px;
}


@media (max-width:767px) {
  .slider-wrapper .slider-parent .card .card-layer .reel img{
    width: 35px;
    height: 35px;
  }
}


.slider-wrapper .slider-parent .card .card-layer .vid{
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width:767px) {
  .slider-wrapper .slider-parent .card .card-layer .vid img{
    width: 48px;
    height: 48px;
  }
}


.slider-wrapper .slider-parent .card .card-layer .card-title{
  position: inherit;
  bottom: 0;
  left: 0;
  margin: 50px;
  color: white;
  font-family: 'Lato';
}


@media (max-width:767px) {
  .slider-wrapper .slider-parent .card .card-layer .card-title h1{
   font-size: 16px;
  }

  .slider-wrapper .slider-parent .card .card-layer .card-title span{
    font-size: 14px;

  }
}